/*
    Colors
*/
/*
    Font Sizes
*/
/*
    Margin & Padding
*/
/*
    Call To Action
*/
.superscript-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .superscript-wrapper .text-ss {
    font-family: "Open Sans", sans-serif;
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: #16161a;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0; }
  .superscript-wrapper .line {
    width: 80px;
    height: 1px;
    background: #16161a;
    margin: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }

.text-xl {
  font-size: calc(48px + (64 - 48) * ((100vw - 300px) / (1600 - 300))); }

.text-lg {
  font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }

.text-md {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300))); }

.text-sm {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); }

.text-xs {
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300))); }

.text-ss {
  font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300))); }

body {
  background: #fffffe; }

main {
  position: relative; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #16161a; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #16161a; }

a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #16161a;
  display: flex;
  align-items: center; }
  a ion-icon {
    margin-left: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.stop-scrolling {
  overflow: hidden; }

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  .nav-bar .content-wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .nav-bar .content-wrapper .links {
      display: flex;
      align-items: center; }
      .nav-bar .content-wrapper .links ul {
        display: flex;
        align-items: center; }
        .nav-bar .content-wrapper .links ul li {
          padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
        .nav-bar .content-wrapper .links ul li:last-child {
          margin-right: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }

@media only screen and (max-width: 728px) {
  .nav-bar {
    display: none; } }

.social-wrapper {
  position: fixed;
  bottom: 0;
  padding-left: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
  z-index: 98; }
  .social-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .social-wrapper ul li {
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
      .social-wrapper ul li a ion-icon {
        font-size: 18px;
        color: #16161a;
        margin: 0; }
      .social-wrapper ul li .line {
        height: 100px;
        width: 1px;
        background: #16161a; }
    .social-wrapper ul li:last-child {
      margin: 0; }

@media only screen and (max-width: 728px) {
  .social-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 0; }
    .social-wrapper ul {
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .social-wrapper ul li {
        margin: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
        padding: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))) 0; }
        .social-wrapper ul li .line {
          display: none; } }

footer {
  padding: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
  footer p {
    font-family: "Open Sans", sans-serif;
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: #16161a;
    text-align: center; }

.who-am-i {
  margin-top: 80px; }
  .who-am-i .content-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(48px + (64 - 48) * ((100vw - 300px) / (1600 - 300))) calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300)));
    transition: all 0.1s; }
    .who-am-i .content-wrapper .text-lg, .who-am-i .content-wrapper .text-sm {
      max-width: 600px; }
    .who-am-i .content-wrapper .text-lg {
      font-weight: 400;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
    .who-am-i .content-wrapper .text-sm {
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
    .who-am-i .content-wrapper .arrow-button {
      margin-top: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }

@media only screen and (max-width: 728px) {
  .who-am-i .content-wrapper {
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); } }

.what-i-do {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300)));
  transition: all 0.1s; }
  .what-i-do .i-do {
    padding: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
    background: #16161a;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .what-i-do .i-do .superscript-wrapper {
      margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
      .what-i-do .i-do .superscript-wrapper .text-ss {
        color: #fffffe; }
      .what-i-do .i-do .superscript-wrapper .line {
        background: #fffffe; }
    .what-i-do .i-do .text-lg {
      font-weight: 400;
      color: #fffffe;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
    .what-i-do .i-do .text-sm {
      font-weight: 300;
      color: #94a1b2;
      margin-bottom: calc(48px + (64 - 48) * ((100vw - 300px) / (1600 - 300))); }
    .what-i-do .i-do .end-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      .what-i-do .i-do .end-wrapper .arrow-button .text-md, .what-i-do .i-do .end-wrapper .arrow-button ion-icon {
        font-weight: 300;
        color: #fffffe; }

@media only screen and (max-width: 499px) {
  .what-i-do {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); } }

@media only screen and (min-width: 500px) and (max-width: 728px) {
  .what-i-do {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); } }

.about .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300)));
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.1s; }
  .about .content-wrapper .text-lg {
    font-weight: 400;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .about .content-wrapper .text-sm {
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .about .content-wrapper .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 15px;
    width: 100%;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
    .about .content-wrapper .grid-wrapper .item-wrapper {
      display: flex;
      align-items: center; }
      .about .content-wrapper .grid-wrapper .item-wrapper ion-icon {
        color: #2cb67d;
        font-size: 12px;
        margin-right: 8px; }

@media only screen and (max-width: 728px) {
  .about .content-wrapper {
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); } }

.projects {
  max-width: 1400px;
  margin: 0 auto;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300)));
  transition: all 0.1s; }
  .projects p:last-child {
    text-align: center; }
    .projects p:last-child a {
      display: inline;
      font-weight: 400;
      color: #16161a;
      text-decoration: underline; }
  .projects .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
    margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .projects .grid-wrapper .arrow-button {
      background: #1f1f1f;
      padding: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
      border: 1px solid rgba(225, 225, 225, 0.1);
      position: relative; }
      .projects .grid-wrapper .arrow-button .border-bottom {
        position: absolute;
        width: 0;
        height: 4px;
        bottom: 0;
        left: 0;
        background: #2cb67d; }
      .projects .grid-wrapper .arrow-button .inner {
        width: 100%; }
        .projects .grid-wrapper .arrow-button .inner .text-md {
          font-weight: 400;
          text-transform: uppercase;
          color: #fffffe;
          margin-bottom: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
        .projects .grid-wrapper .arrow-button .inner .text-ss {
          color: #2cb67d;
          text-transform: uppercase;
          margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
        .projects .grid-wrapper .arrow-button .inner .text-xs {
          color: #94a1b2;
          margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
        .projects .grid-wrapper .arrow-button .inner ul {
          display: flex;
          margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
          .projects .grid-wrapper .arrow-button .inner ul li .text-ss {
            color: #94a1b2;
            margin-right: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
            opacity: 0.6; }
        .projects .grid-wrapper .arrow-button .inner .end-wrapper {
          display: flex;
          justify-content: flex-end; }
          .projects .grid-wrapper .arrow-button .inner .end-wrapper ion-icon {
            color: #fffffe;
            font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300))); }

@media only screen and (max-width: 499px) {
  .projects {
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .projects .grid-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); } }

@media only screen and (min-width: 500px) and (max-width: 728px) {
  .projects {
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .projects .grid-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); } }

.get-in-touch .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300)));
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.1s; }
  .get-in-touch .content-wrapper .text-lg {
    font-weight: 400;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .get-in-touch .content-wrapper .text-sm {
    margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
  .get-in-touch .content-wrapper .end-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .get-in-touch .content-wrapper .end-wrapper .arrow-button .text-md, .get-in-touch .content-wrapper .end-wrapper .arrow-button ion-icon {
      color: #16161a; }

@media only screen and (max-width: 728px) {
  .get-in-touch .content-wrapper {
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); } }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #16161a;
  text-transform: uppercase;
  border: 1px solid #16161a;
  padding: 12px 16px; }

.nav-link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
  .nav-link ion-icon {
    position: absolute;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: #16161a;
    margin: 0;
    opacity: 0;
    left: -14px; }
  .nav-link .text-xs, .nav-link ion-icon {
    white-space: nowrap;
    transition: all 0.3s; }
  .nav-link .text-xs {
    margin-left: 6px; }
  .nav-link:hover ion-icon {
    opacity: 1;
    left: 0; }

.boxed-button {
  padding: 6px 24px;
  white-space: nowrap;
  position: relative;
  transition: all 0.3s;
  border: 1px solid #16161a; }
  .boxed-button .text-xs {
    transition: all 0.3s; }
  .boxed-button:before, .boxed-button::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-color: #16161a;
    transition: all 0.3s; }
  .boxed-button:before {
    top: -6px;
    left: -6px;
    border-width: 1px 0 0 1px; }
  .boxed-button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 1px 1px 0; }
  .boxed-button:hover::before, .boxed-button:hover::after {
    width: calc(100% + 11px);
    height: calc(100% + 11px);
    border-color: #16161a; }
  .boxed-button:hover .text-xs {
    color: #fffffe; }
  .boxed-button:hover {
    border-color: #16161a;
    background-color: #16161a; }

.arrow-button .text-md {
  font-weight: 400;
  color: #16161a; }

.arrow-button ion-icon {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
