/*
    Colors
*/
/*
    Font Sizes
*/
/*
    Margin & Padding
*/
/*
    Call To Action
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  background: #16161a; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .nav-bar .center-wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .nav-bar .center-wrapper .links {
      display: flex;
      align-items: center; }
      .nav-bar .center-wrapper .links ul {
        display: flex;
        align-items: center; }
        .nav-bar .center-wrapper .links ul li {
          padding: 0 calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
        .nav-bar .center-wrapper .links ul li:last-child {
          margin-right: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }

.header {
  margin-top: 80px; }
  .header .center-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .header .center-wrapper .title {
      font-family: "IBM Plex Mono", monospace;
      font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
      color: #2cb67d;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      text-transform: uppercase;
      white-space: nowrap;
      display: flex;
      align-items: center;
      position: relative; }
      .header .center-wrapper .title::after {
        content: "";
        position: absolute;
        left: 100%;
        width: 100%;
        height: 1px;
        margin-left: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
        background: #2cb67d; }
    .header .center-wrapper h3 {
      font-family: "IBM Plex Mono", monospace;
      font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
      color: #fffffe;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      max-width: 500px; }
    .header .center-wrapper p {
      font-family: "IBM Plex Mono", monospace;
      font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
      color: #94a1b2;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      max-width: 500px; }
    .header .center-wrapper .wrapper {
      display: flex; }
      .header .center-wrapper .wrapper .button {
        margin-right: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }

.projects {
  max-width: 1000px;
  margin: 0 auto;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
  .projects .wrapper {
    display: flex; }
    .projects .wrapper .title {
      font-family: "IBM Plex Mono", monospace;
      font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
      color: #2cb67d;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      text-transform: uppercase;
      white-space: nowrap;
      display: flex;
      align-items: center;
      position: relative; }
      .projects .wrapper .title::after {
        content: "";
        position: absolute;
        left: 100%;
        width: 100%;
        height: 1px;
        margin-left: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
        background: #2cb67d; }
  .projects p {
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 300;
    text-align: center;
    color: #94a1b2; }
    .projects p a {
      color: #2cb67d;
      text-decoration: underline; }
  .projects .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
    margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .projects .grid-wrapper .outer {
      background: #1f1f1f;
      padding: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
      border: 1px solid rgba(225, 225, 225, 0.1); }
      .projects .grid-wrapper .outer .wrapper {
        display: flex;
        justify-content: flex-start;
        margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
        .projects .grid-wrapper .outer .wrapper a ion-icon {
          color: #fffffe;
          font-size: 24px;
          margin-right: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
      .projects .grid-wrapper .outer .inner h3 {
        font-family: "Roboto Slab", serif;
        font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 300;
        color: #fffffe;
        text-transform: uppercase;
        margin-bottom: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
      .projects .grid-wrapper .outer .inner P {
        text-align: left; }
      .projects .grid-wrapper .outer .inner .highlight {
        font-family: "IBM Plex Mono", monospace;
        font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 300;
        color: #2cb67d;
        text-transform: uppercase;
        margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
      .projects .grid-wrapper .outer .inner .description {
        font-family: "IBM Plex Mono", monospace;
        font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 300;
        color: #94a1b2;
        margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
      .projects .grid-wrapper .outer .inner ul {
        display: flex;
        margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
        .projects .grid-wrapper .outer .inner ul li {
          font-family: "IBM Plex Mono", monospace;
          font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
          font-weight: 300;
          color: #94a1b2;
          margin-right: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
          opacity: 0.7; }
      .projects .grid-wrapper .outer .inner .wrapper {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0; }
        .projects .grid-wrapper .outer .inner .wrapper ion-icon {
          color: #fffffe;
          font-size: 24px; }

@media only screen and (max-width: 499px) {
  .projects .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); } }

.about .center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
  max-width: 800px;
  margin: 0 auto; }
  .about .center-wrapper .wrapper {
    display: flex; }
    .about .center-wrapper .wrapper .title {
      font-family: "IBM Plex Mono", monospace;
      font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
      color: #2cb67d;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      text-transform: uppercase;
      white-space: nowrap;
      display: flex;
      align-items: center;
      position: relative; }
      .about .center-wrapper .wrapper .title::after {
        content: "";
        position: absolute;
        left: 100%;
        width: 100%;
        height: 1px;
        margin-left: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
        background: #2cb67d; }
  .about .center-wrapper h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: #fffffe;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .about .center-wrapper p {
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: #94a1b2;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .about .center-wrapper .wrapper .yrs-wrapper {
    display: flex;
    align-items: center;
    margin-right: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
    .about .center-wrapper .wrapper .yrs-wrapper h2 {
      font-family: "Share Tech Mono", monospace;
      font-size: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
      color: #2cb67d;
      margin-right: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
      margin-bottom: 0; }
    .about .center-wrapper .wrapper .yrs-wrapper p {
      font-family: "Share Tech Mono", monospace;
      color: #fffffe;
      margin-bottom: 0; }

.skills {
  max-width: 1000px;
  margin: 0 auto;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
  .skills .wrapper {
    display: flex; }
    .skills .wrapper .title {
      font-family: "IBM Plex Mono", monospace;
      font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
      color: #2cb67d;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      text-transform: uppercase;
      white-space: nowrap;
      display: flex;
      align-items: center;
      position: relative; }
      .skills .wrapper .title::after {
        content: "";
        position: absolute;
        left: 100%;
        width: 100%;
        height: 1px;
        margin-left: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
        background: #2cb67d; }
  .skills h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: #fffffe;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .skills p {
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: #94a1b2;
    margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
  .skills .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
    .skills .grid-wrapper .outer {
      background: #1f1f1f;
      padding: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid rgba(225, 225, 225, 0.1); }
      .skills .grid-wrapper .outer .wrapper {
        display: flex;
        justify-content: space-between; }
        .skills .grid-wrapper .outer .wrapper img {
          width: 24px;
          height: 24px; }
        .skills .grid-wrapper .outer .wrapper p {
          font-family: "Share Tech Mono", monospace;
          font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
          font-weight: 300;
          text-align: center;
          color: #fffffe; }
      .skills .grid-wrapper .outer h4 {
        font-family: "IBM Plex Mono", monospace;
        font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 300;
        color: #fffffe;
        text-transform: uppercase; }

@media only screen and (max-width: 499px) {
  .skills .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); } }

.contact .center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(96px + (160 - 96) * ((100vw - 300px) / (1600 - 300))) calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
  max-width: 800px;
  margin: 0 auto; }
  .contact .center-wrapper .wrapper {
    display: flex; }
    .contact .center-wrapper .wrapper .title {
      font-family: "IBM Plex Mono", monospace;
      font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
      color: #2cb67d;
      margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
      text-transform: uppercase;
      white-space: nowrap;
      display: flex;
      align-items: center;
      position: relative; }
      .contact .center-wrapper .wrapper .title::after {
        content: "";
        position: absolute;
        left: 100%;
        width: 100%;
        height: 1px;
        margin-left: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
        background: #2cb67d; }
  .contact .center-wrapper h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: #fffffe;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300))); }
  .contact .center-wrapper p {
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: #94a1b2;
    margin-bottom: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300))); }
  .contact .center-wrapper a {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .contact .center-wrapper a h3 {
      color: #2cb67d; }
    .contact .center-wrapper a ion-icon {
      color: #2cb67d;
      font-size: 24px;
      margin-right: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }

footer {
  padding: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); }
  footer p {
    font-family: "Share Tech Mono", monospace;
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: #94a1b2;
    text-align: center; }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
  font-weight: 900;
  color: #fffffe;
  text-transform: uppercase;
  border: 1px solid #fffffe;
  padding: 12px 16px; }

.nav-link {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #fffffe;
  white-space: nowrap;
  position: relative;
  transition: all 0.3s; }
  .nav-link span {
    font-family: "Share Tech Mono", monospace;
    font-weight: 300;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: #2cb67d; }
  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background: #2cb67d;
    z-index: -1;
    transition: all 0.3s;
    transform-origin: bottom left; }
  .nav-link:hover::before {
    transform: scaleX(1); }
  .nav-link:hover {
    color: #2cb67d; }

.button {
  font-family: "Share Tech Mono", monospace;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  padding: 6px 24px;
  white-space: nowrap;
  position: relative;
  transition: all 0.3s;
  color: #16161a;
  background: #2cb67d;
  border: 1px solid #2cb67d; }
  .button:before, .button::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-color: #2cb67d;
    transition: all 0.3s; }
  .button:before {
    top: -6px;
    left: -6px;
    border-width: 1px 0 0 1px; }
  .button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 1px 1px 0; }
  .button:hover::before, .button:hover::after {
    width: calc(100% + 11px);
    height: calc(100% + 11px);
    border-color: #fffffe; }
  .button:hover {
    color: #16161a;
    border-color: #fffffe;
    background-color: #fffffe; }

.inverse {
  transition: all 0.3s;
  color: #fffffe;
  border: 1px solid #fffffe; }
  .inverse:before, .inverse::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-color: #fffffe;
    transition: all 0.3s; }
  .inverse:before {
    top: -6px;
    left: -6px;
    border-width: 1px 0 0 1px; }
  .inverse:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 1px 1px 0; }
  .inverse:hover::before, .inverse:hover::after {
    width: calc(100% + 11px);
    height: calc(100% + 11px);
    border-color: #2cb67d; }
  .inverse:hover {
    color: #16161a;
    border-color: #2cb67d;
    background-color: #2cb67d; }
